
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #56575d;
    color: white;
    padding: 20px 0;
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo h1 {
    font-size: 24px;
}


nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #eefa09;
}
.form-container {
  
    background-color: rgb(182, 236, 245);
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Form element styling */
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    text-align: left;
}

.form-container input {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #ff6347;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;


}
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #5f5d5d;
    padding: 1px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.footer-info {
    text-align: left;
}

.footer-social a {
    margin: 0 10px;
    text-decoration: none;
    color: #fffbfb;
}

.footer-social a:hover {
    text-decoration: underline;
}